@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;padding: 
    0;box-sizing: border-box;
    font-family: "Poppins", sans-serif !important;

}
input,
select,
textarea {
  border: none !important;
  outline: none !important;
}

/* Optional: If you want to add a bottom border for visual separation */
input,
select,
textarea {
  border-bottom: 1px solid #ccc !important;
}

/* Optional: If you want to style the focus state */
input:focus,
select:focus,
textarea:focus {
  border-bottom-color: #007bff !important; /* Change to your preferred focus color */
}

button[type="submit"] {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 15px 32px; /* Add some padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make the button inline */
    font-size: 16px; /* Increase font size */
    margin: 4px 2px; /* Add some margin */
    cursor: pointer; /* Add a pointer cursor on hover */
    border-radius: 8px; /* Rounded corners */
  }